
/* Nav bar */

.sec0 img
{
	margin-left:1130px;
	margin-top:-380px;
	size:10px;
}
.sec0 logo
{
	margin-top:129px;
	margin-left:-1110px;
}

body,html{
  margin:0;
  padding:0;
  background-color:#0988f8;
}

header{
  width:100%;
  height:70px;
  background-color: #0988f8;
}

h1
{
  position: absolute;
  padding:3px;
  float:left;
  margin-left: -58% ;
  margin-top:110px;
  font-family: 'Alfa Slab One', cursive;
  

}

 .sec0 ul
{
  width:auto;
  float:right;
  margin-top:8px;

}

 .sec0 li{
  display:inline-block;
  padding: 15px 30px;
}


 .sec0 a
{
  text-align: center;
  color:#c0b8b8;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size:1.2vw;
}

 .sec0 a:hover{
   color: #3d9ef2;
   transition: 0.5s;
}
#section1 {
	height: 160px;
	background-color: #0988f8;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.sec1 p
{
	font-size:40px;
	color:black;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
  color:white;

}

#section2 {
	height: 1460px;
	background-color: #ffffff;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.paragprah
{
	font-size:15px;
	color:rgb(83, 83, 83);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
  
}

.paragprah2 p
{	
	font-size:20px;
	color:rgb(119, 119, 119);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	line-height:0.8cm;
}


.row::after {
	content: "";
	clear: both;
	display: table;
	
	
  }

.center
{
	margin-left:60px;
	word-spacing: 1cm;
	overflow: hidden; 
}


.center img{

	transition: filter .5s ease-in-out;
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%); 
	transition: 0.5s all ease-in-out; 

}

.center img:hover
{
	-webkit-filter: grayscale(0%); 
	filter: grayscale(0%); 
	
}
a:hover img{
	transform: scale(1.02); 
	
}
h3
{
	margin-left:360px;
	font-size:20px;
	display: inline;
	font-family: 'Open Sans', sans-serif;
	color:rgb(85, 85, 85);

}
h4
{
	display: inline;
	font-family: 'Open Sans', sans-serif;
	color:rgb(85, 85, 85);
	font-size:20px;
	margin-left:140px;
}
h5
{
	display: inline;
	font-family: 'Open Sans', sans-serif;
	color:rgb(85, 85, 85);
	font-size:20px;
	margin-left:160px;
}
h6
{
	display: inline;
	font-family: 'Open Sans', sans-serif;
	color:rgb(85, 85, 85);
	font-size:20px;
	margin-left:190px;
}
.paragprah3
{
	line-height: 0.7;
}
h7
{
	margin-left:360px;
	font-size:16px;
	display: inline;
	font-family: 'Shippori Mincho', serif;
	color:rgb(141, 141, 141);

}
h8
{
	display: inline;
	font-family: 'Shippori Mincho', serif;
	color:rgb(141, 141, 141);
	font-size:16px;
	margin-left:170px;
}
h9
{
	display: inline;
	font-family: 'Shippori Mincho', serif;
	color:rgb(141, 141, 141);
	font-size:16px;
	margin-left:175px;
}
h10
{
	display: inline;
	font-family: 'Shippori Mincho', serif;
	color:rgb(141, 141, 141);
	font-size:16px;
	margin-left:210px;
}


