@import url('https://fonts.googleapis.com/css?family=Roboto');


a:hover img{
	transform: scale(1.02); 
	
}
#section0
{
    height: 160px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
  
}
 .sec0 img
{
	margin-left:29px;
    margin-top:-2px;
	size:10px;
}




header{
  width:100%;
  height:70px;
  
}


.background
{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('contactBack.jpg');
}
/* h1
{
  position: absolute;
  padding:3px;
  float:left;
  margin-left: -58% ;
  margin-top:110px;
  font-family: 'Alfa Slab One', cursive;
  

} */

 .sec0 ul
{
  width:auto;
  float:right;
  margin-top:8px;

}

 .sec0 li{
  display:inline-block;
  padding: 15px 30px;
}


 .sec0 a
{
  text-align: center;
  color:#c0b8b8;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size:1.2vw;
}

 .sec0 a:hover{
   color: #3d9ef2;
   transition: 0.5s;
}



#section1 {
	height: 860px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}





*{
  margin: 0;
  padding: 0;
}

body{

  background-size: cover;
  height: auto;
  font-family: 'Roboto';
}


.container{
  max-width: 800px;
  height: 600px;
  background: #fff;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(72,98,85, 0.6);
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8))
}

p{
  text-align: center;
  letter-spacing: 1px;  
  font-size: 45px;
  margin-bottom: 20px;
  color: #337be6;
}

.input,
.msg .area{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}
i{
  padding:2px;
}
input{
  padding: 5px;
  width: 35%;
  height:30px;
  float: left;
  margin-right: 4%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}

.login .input:last-child{
  margin-right: 0;
}

.msg .area{
  height: 200px;
}

button{
  width: 250px;
  background: #4485e6;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-left:230px;
  
}

.input:focus,
.msg .area:focus{
  border: 2px solid #486255;
}

::-webkit-input-placeholder{
  font-family: 'roboto';
}

textarea
{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  height: 200px;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
  
}