.Slogan{
	font-size: 40px;
	font-family: 'Noto Sans JP', sans-serif;
	margin-top: 300px;
	margin-left:100px;
}

.paragraph{
	font-size: 20px;
	margin-left:230px;
	font-family: 'Noto Sans JP', sans-serif;
	color: gray;
}

img
{
	margin-left:1130px;
	margin-top:-250px;
	size:10px;
}